.Modal-container {
  background: var(--scrim);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: end;
  justify-content: center;
}

.Modal {
  background: var(--surface);
  color: var(--text-primary);
  border-radius: var(--radius-lg) var(--radius-lg) 0 0;
  padding: 2rem;
  min-width: 300px;
  max-width: 500px;
  box-shadow: var(--shadow-elevated);
}

.Modal-footer {
  text-align: center;
}
