.Widgets
    padding: 0
    text-align: center
    pointer-events: none

    h1, h2, h3, h4
        line-height: 1
        margin: 0

    .weight-override
        h1, h2, h3, h4
            font-weight: inherit
